/*
  Students:
  Bshara Karkaby [49-2]
  Moner Makhouly [49-2]
*/

body {
  font-family: Arial, sans-serif;
  background-color: #dae3ec;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #4caf50;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

p {
  text-align: center;
  margin: 1.5em auto;
  font-size: 22px;
  line-height: 1.6;
}

form {
  width: 50%;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgb(134, 134, 134);
}

form input,
form textarea {
  width: 98%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
}

form button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}
