<!--
  Students:
  Bshara Karkaby [49-2]
  Moner Makhouly [49-2]
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
    <link rel="stylesheet" href="css/about.css" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="page.html">Home</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav>
    </header>

    <h1>About Us</h1>
    <p>
      We are passionate about books and dedicated to providing a curated
      selection of high-quality literature for readers of all ages. Our mission
      is to deliver exceptional value to our customers by offering a diverse
      range of books that inspire, educate, and entertain. We believe that every
      book has the power to transform lives, and we strive to maintain the
      highest standards of quality in both our products and services. Whether
      you are looking for the latest bestsellers, timeless classics, or hidden
      gems, our knowledgeable team is here to help you find the perfect read.
      Join us on this literary journey, and let us help you discover your next
      favorite book!
    </p>
  </body>
</html>
