<!--
  Students:
  Bshara Karkaby [49-2]
  Moner Makhouly [49-2]
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Cover | JS</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <nav>
        <ul>
          <li><a href="page.html">Home</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav>
    </header>

    <!-- Main Content -->
    <main>
      <h1>Book Component By Function</h1>
      <div class="book-cover">
        <!-- Top Section -->
        <div class="top-section">
          <div class="logo">O'REILLY<span>&reg;</span></div>
          <p class="quote">
            "Kyle's way of critically thinking about every tiny bit of the
            <br />
            language will creep into your mindset and general workflow."<br />
            <strong>– Shane Hudson</strong>. freelance frontend website
            developer
          </p>
          <p class="author">Kyle Simpson</p>
        </div>
        <!-- Middle Section -->
        <div class="middle-section">
          <h2>
            Scope & <br />
            Closures
          </h2>
        </div>
        <!-- Bottom Section -->

        <div class="bottom-section">
          <span>You Don't Know</span>
          <p>JS</p>
        </div>
      </div>

      <p class="author">By Kyle Simpson</p>

      <p class="info">
        Parts of language that many JavaScript <br />
        programers simply avoid
      </p>
    </main>

    <!-- Footer -->
    <footer>
      <p>&copy; 2024 Bshara</p>
    </footer>
  </body>
</html>
